In [30]:
import pandas as pd
import numpy as np
import data_cleaner as clean

In [38]:
who_1 = pd.read_csv("../data/WHO-CHILD-HEALTH-1.csv")
who_2 = pd.read_csv("../data/WHO-CHILD-HEALTH-2a.csv")
who_3 = pd.read_csv("../data/WHO-CHILD-HEALTH-3.csv")
who_4 = pd.read_csv("../data/WHO-CHILD-HEALTH-4.csv")
imr1719 = pd.read_csv("../data/WHO-IMR-2017-2019.csv")
imr_all = pd.read_csv("../data/WHO-IMR-ALL-YEARS.csv")

In [66]:
imr1719.head()

,GHO,PUBLISHSTATE,YEAR,REGION,UNREGION,WORLDBANKINCOMEGROUP,COUNTRY,SEX,Display Value,Numeric,Low,High,Comments
0,MDG_0000000001,PUBLISHED,2018,EMR,NaN,NaN,AFG,BTSX,48.0,48.04333,39.94430,56.32006,NaN
1,MDG_0000000001,PUBLISHED,2018,EMR,NaN,NaN,AFG,FMLE,44.6,44.55944,36.87615,52.43261,NaN
2,MDG_0000000001,PUBLISHED,2018,EMR,NaN,NaN,AFG,MLE,51.3,51.34710,42.55961,60.39946,NaN
3,MDG_0000000001,PUBLISHED,2018,AFR,NaN,NaN,AGO,BTSX,51.9,51.87144,28.20570,87.37608,NaN
4,MDG_0000000001,PUBLISHED,2018,AFR,NaN,NaN,AGO,FMLE,46.3,46.32707,25.06762,78.38194,NaN

In [57]:
imr_basic = imr_all[['YEAR', 'COUNTRY', 'SEX', 'Numeric']].drop_duplicates() #Maybe include high and low, not sure yet

female_filter = imr_basic['SEX'] == 'FMLE'
imr_female = imr_basic[female_filter]
imr_female.head()

male_filter = imr_basic['SEX'] == 'MLE'
imr_male = imr_basic[male_filter]
imr_male.head()

imr_basic['SEX'] = imr_basic['SEX'].fillna('Not Specified')
not_spec_filter = imr_basic['SEX'] == 'Not Specified'
imr_not_specified = imr_basic[not_spec_filter]
imr_not_specified = imr_not_specified.rename(columns={"Numeric": "Numeric (Sex not specified)"})
test = imr_not_specified[imr_not_specified['COUNTRY'] == 'AFG']

In [58]:
test[test['YEAR'] == 2015]

       YEAR COUNTRY            SEX  Numeric (Sex not specified)
2      2015     AFG  Not Specified                     63.00000
3      2015     AFG  Not Specified                     28.00000
4      2015     AFG  Not Specified                     65.00000
5      2015     AFG  Not Specified                     13.00000
7      2015     AFG  Not Specified                     53.00000
8      2015     AFG  Not Specified                     42.00000
9      2015     AFG  Not Specified                      3.00000
409    2015     AFG  Not Specified                     51.00000
410    2015     AFG  Not Specified                     45.00000
411    2015     AFG  Not Specified                          NaN
414    2015     AFG  Not Specified                     87.00000
416    2015     AFG  Not Specified                     89.00000
820    2015     AFG  Not Specified                     41.00000
821    2015     AFG  Not Specified                     54.00000
822    2015     AFG  Not Specified                     61.00000
823    2015     AFG  Not Specified                     35.00000
824    2015     AFG  Not Specified                     60.00000
826    2015     AFG  Not Specified                     67.00000
1231   2015     AFG  Not Specified                     36.00000
1232   2015     AFG  Not Specified                     38.00000
1233   2015     AFG  Not Specified                     32.00000
1234   2015     AFG  Not Specified                    123.00000
1235   2015     AFG  Not Specified                     68.00000
1237   2015     AFG  Not Specified                     49.00000
1239   2015     AFG  Not Specified                     21.00000
4991   2015     AFG  Not Specified                     34.08307
5785   2015     AFG  Not Specified                     34.84709
6184   2015     AFG  Not Specified                     51.86561
7140   2015     AFG  Not Specified                     34.51818
7544   2015     AFG  Not Specified                     61.78297
7545   2015     AFG  Not Specified                     51.21589
7546   2015     AFG  Not Specified                     56.71095
7547   2015     AFG  Not Specified                     41.40769
8523   2015     AFG  Not Specified                     33.85225
8524   2015     AFG  Not Specified                     42.10854
8948   2015     AFG  Not Specified                     68.42341
8949   2015     AFG  Not Specified                     55.46606
8950   2015     AFG  Not Specified                     40.84825
8951   2015     AFG  Not Specified                     35.02188
9763   2015     AFG  Not Specified                     53.38873
9764   2015     AFG  Not Specified                     49.08095
9765   2015     AFG  Not Specified                     69.17506
9766   2015     AFG  Not Specified                     44.03234
13754  2015     AFG  Not Specified                     53.83516
14567  2015     AFG  Not Specified                     34.58301

In [12]:
#This reformats the WHO data so we can use it properly
who_1['Country_Year'] = who_1['COUNTRY'].str.cat(who_1['YEAR'].astype(str),sep="_")
who_1 = who_1.set_index('Country_Year')
test_df = pd.DataFrame(index = who_1.index)

test_df['COUNTRY'] = who_1['COUNTRY']
test_df['YEAR'] = who_1['YEAR']

for code in who_1['GHO'].unique():
    test_df[code] = who_1[who_1['GHO'] == code]['Display Value']

In [14]:
test_df

,COUNTRY,YEAR,PCV3,WHS4_100,WHS4_543,WHS4_544,WHS8_110,WHS4_117,WHS4_129,ROTAC
Country_Year,,,,,,,,,,
AFG_2015,AFG,2015,65.0,65.0,76.0,69.0,63.0,65.0,65.0,NaN
AFG_1992,AFG,1992,NaN,21.0,19.0,21.0,22.0,NaN,NaN,NaN
AFG_1995,AFG,1995,NaN,20.0,31.0,20.0,41.0,NaN,NaN,NaN
AFG_2012,AFG,2012,NaN,67.0,78.0,67.0,59.0,67.0,67.0,NaN
AFG_1982,AFG,1982,NaN,5.0,10.0,5.0,8.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
ZWE_1995,ZWE,1995,NaN,88.0,96.0,88.0,87.0,1.0,NaN,NaN
ZWE_2009,ZWE,2009,NaN,73.0,90.0,69.0,76.0,73.0,73.0,NaN
ZWE_1990,ZWE,1990,NaN,88.0,91.0,89.0,87.0,NaN,NaN,NaN
ZWE_2004,ZWE,2004,NaN,65.0,76.0,67.0,66.0,68.0,NaN,NaN
ZWE_2013,ZWE,2013,95.0,95.0,95.0,95.0,93.0,95.0,95.0,NaN