In [1]:
import pandas as pd
import numpy as np
import data_cleaner as clean
from sklearn.preprocessing import OneHotEncoder

In [2]:
who_1 = pd.read_csv("../data/WHO-CHILD-HEALTH-1.csv")
who_2 = pd.read_csv("../data/WHO-CHILD-HEALTH-2a.csv")
who_3 = pd.read_csv("../data/WHO-CHILD-HEALTH-3.csv")
who_4 = pd.read_csv("../data/WHO-CHILD-HEALTH-4.csv")
imr1719 = pd.read_csv("../data/WHO-IMR-2017-2019.csv")
imr_all = pd.read_csv("../data/WHO-IMR-ALL-YEARS.csv")

In [16]:
relevant_cols = [
    'YEAR', 
    'REGION', 
    'COUNTRY',
    'EDUCATIONLEVEL', 
    'SEX', 
    'RESIDENCEAREATYPE', 
    'WEALTHQUINTILE',
    'WEALTHDECILE', 
    'Numeric'#Maybe include high and low, not sure yet
]
imr_basic = imr_all[relevant_cols].drop_duplicates()

## Binarize columns and replace NaN with "Not Specified"

In [17]:
replacement_string = 'Not_Specified'

In [18]:
cols_to_encode = [
    'EDUCATIONLEVEL', 
    'SEX', 
    'RESIDENCEAREATYPE', 
    'WEALTHQUINTILE',
    'WEALTHDECILE'
]

for col in cols_to_encode:
    imr_basic[col] = imr_all[col].fillna(replacement_string)

In [19]:
imr_basic.head()

,YEAR,REGION,COUNTRY,EDUCATIONLEVEL,SEX,RESIDENCEAREATYPE,WEALTHQUINTILE,WEALTHDECILE,Numeric
0,2010,EMR,AFG,Not_Specified,Not_Specified,Not_Specified,Not_Specified,Not_Specified,NaN
2,2015,EMR,AFG,Not_Specified,Not_Specified,Not_Specified,Not_Specified,Not_Specified,63.0
3,2015,EMR,AFG,Not_Specified,Not_Specified,Not_Specified,Not_Specified,Not_Specified,28.0
4,2015,EMR,AFG,Not_Specified,Not_Specified,Not_Specified,Not_Specified,Not_Specified,65.0
5,2015,EMR,AFG,Not_Specified,Not_Specified,Not_Specified,Not_Specified,Not_Specified,13.0

In [22]:
test_pd = pd.get_dummies(imr_basic, columns = cols_to_encode)

In [38]:
test_pd.head()

,YEAR,REGION,COUNTRY,Numeric,EDUCATIONLEVEL_NHLM,EDUCATIONLEVEL_Not_Specified,EDUCATIONLEVEL_PRLM,EDUCATIONLEVEL_SHLM,SEX_FMLE,SEX_MLE,...,WEALTHDECILE_WEALTHDECILE01,WEALTHDECILE_WEALTHDECILE02,WEALTHDECILE_WEALTHDECILE03,WEALTHDECILE_WEALTHDECILE04,WEALTHDECILE_WEALTHDECILE05,WEALTHDECILE_WEALTHDECILE06,WEALTHDECILE_WEALTHDECILE07,WEALTHDECILE_WEALTHDECILE08,WEALTHDECILE_WEALTHDECILE09,WEALTHDECILE_WEALTHDECILE10
0,2010,EMR,AFG,NaN,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,EMR,AFG,63.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,EMR,AFG,28.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,EMR,AFG,65.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2015,EMR,AFG,13.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
#This reformats the WHO data so we can use it properly
who_1['Country_Year'] = who_1['COUNTRY'].str.cat(who_1['YEAR'].astype(str),sep="_")
who_1 = who_1.set_index('Country_Year')
who1_pivot = pd.pivot_table(who_1, index=['Country_Year'], columns='GHO', values='Display Value')

In [37]:
who1_pivot.head()

GHO,PCV3,ROTAC,WHS4_100,WHS4_117,WHS4_129,WHS4_543,WHS4_544,WHS8_110
Country_Year,,,,,,,,
AFG_1980,NaN,NaN,4.0,NaN,NaN,NaN,NaN,11.0
AFG_1981,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN
AFG_1982,NaN,NaN,5.0,NaN,NaN,10.0,5.0,8.0
AFG_1983,NaN,NaN,5.0,NaN,NaN,10.0,5.0,9.0
AFG_1984,NaN,NaN,16.0,NaN,NaN,11.0,16.0,14.0